@font-face {
  font-family: 'DirtyGrunge';
  src: url('fonts/dirtygrunge.woff2') format('truetype');
}

body {
  margin: 0;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  gap: 90px;
}

.menu a {
  font-family: 'DirtyGrunge', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 60px;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
  position: relative;
  display: inline-block;
}

/* camadas glitch */
.menu a::before,
.menu a::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* camada roxa */
.menu a:hover::before {
  color: #a020f0;
  left: 2px;
  text-shadow: -2px 0 #7523d1;
  opacity: 1;
  animation: glitch 0.3s infinite;
}

/* camada azul */
.menu a:hover::after {
  color: #ff8000;
  left: -2px;
  text-shadow: 2px 0 #ff8000;
  opacity: 1;
  animation: glitch 0.3s infinite reverse;
}

/* animação */
@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}
