body {
  margin: 0;
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.menu a:hover {
  border-bottom: 1px solid white;
}
